<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Vendor</th>
          <th scope="col">Current Price</th>
          <th scope="col">% Sales</th>
        </tr>
      </thead>
      <tbody>
        <% items.forEach( (item) => { item.vendors.forEach( (vendor) => { %>
        <tr>
          <td>
            <a href="<%= vendor.url %>"><%= item.name %> </a>
          </td>
          <td><%= vendor.vendorName %></td>
          <td><%= vendor.currentPrice %></td>
          <td>15%</td>
        </tr>
        <% }) }) %>
      </tbody>
    </table>
  </div>
</main>
