<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Current Price</th>
          <th scope="col">% Sales</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="<%= itemModel.vendors[0].url %>"><%= itemModel.name %> </a>
          </td>
          <td><%= itemModel.vendors[0].currentPrice %></td>
          <td>15%</td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>18%</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
